@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:400,700);

body {
    background: #16a085;
    color: #fff;
    font-family: 'Ek Mukta', sans-serif;
    display: table;
    width: 100%;
    height: 100vh;
}
.container-sunas {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.container-sunas h1 {
	font-size: 6em;
}
.container-sunas ul {
	margin-top: 100px;
}
.container-sunas a {
	color: #fff;
	font-size: 2em;
	margin: 5px 0;
}